h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color:black;
    color:whitesmoke;
}
#header-title {
    font-size: 36px;
    text-align: center;
}

#subtitle {
    text-align: center;
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    padding: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
